body {
    background: grey;
    margin: 0;
   
}


h1, h4, p {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h4 {
    font-weight: 800;
}

.header {
    background: white;
    text-align: center;
    padding: 10px 0 10px 0;
    
}



.container {
    padding: 10px 0 20px 0;
    max-width: 600px;
    margin: auto;

}

.post-container{
    
    margin-top: 40px;
    background: white;
    margin-top: 60px;
    margin-bottom: 60px;
}

.post-header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    
}

.top-left{
    display: flex; 
}

.profile-picture {
    
    

}

.post-title {
    align-self: center;
    margin-left: 10px;
    font-weight: bold;
    
}

.username {
   display: block;
   font-weight: bold;
}

.menu{
    
 align-self: center;

}
.dots-menu {
   
}



.photo-post {
    max-height: 600px;
}
.photo-icons {
    display: flex;
    justify-content: space-between;
}


img {
    width: 100%;
    height: auto;
}

.profile-img {
    width: 64px;
    height: 64px;
}

.bottom {
    padding: 20px;
}

.post-description  {
    margin-top: 10px;
    font-size: 1em;
    display: block;
}
.likes {
    margin-top: 10px;
    font-size: 0.7em;
    display: block;
    padding: 5px;
}
.userslikes, .others-users {
    font-weight: bold;
   
}
.hashtag {
    font-weight: 900;
}